<header class="page-header header container-fluid">
  <div class="overlay"></div>
  <div class="description">
    <h1> Graffiti Removal Service Requests </h1>
      <% if @alderman %>
        <p> During: <%= Date::MONTHNAMES[@month.to_i] %> of <%= @year %></p>
        <p> Number of Service Requests: <%= @service_requests.count %> </p>
        <p> Alderman: <%= @alderman.name %> </p>
        <p> Ward: #<%= @alderman.ward %> </p>
      <% else %>
        <p> An alderman wasn't found by that name. <p>
      <% end %>
  </div>
</header>
